.header{
    margin-bottom: 8px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    border-bottom-width: 0.5px ;
    border-bottom: solid;
    border-bottom-color: rgb(238, 238, 238);
} 

.left-section{
    display: flex;
    align-items: center;
}
.middle-section{
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;
}
.right-section{
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    width: 200px;
    align-items: center;
}
.hamburger-menu{
    width: 24px;
    margin-left: 24px;
}
.youtube-logo{
    height: 20px;
    margin-left: 24px;
}
.search-logo{
    height: 20px;
    padding-top: 4px;
}
.voice-search-logo{
    height: 22px;
}
.voice-search-button{
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
    justify-content: center;
    height: 35px;
    cursor: pointer;
    width: 35px;
    margin-left: 5px;
    border-radius: 50px;
    border: none;
    background-color: rgba(233, 233, 233, 0.412);
}
.search-button{
    margin-right 8px;
    cursor: pointer;
    height: 32px;
    width: 50px;
    background-color: rgba(128, 128, 128, 0.131) ;
    margin-left: -1px;
    border-radius: 0px;
    border: solid;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.719); 
    position: relative;
}
.search-bar{
    flex: 1;
    height: 28px;
    border: solid;
    border-color: rgba(128, 128, 128, 0.719);
    font-family: Arial;
    font-size: 16px;
    border-radius: 1px;
    box-shadow: inset 1px 2px 3px rgba(128, 128, 128, 0.05);
    padding-left: 8px;
    border-width: 1px ;
    width: 0;
}
.search-bar:placeholder-shown{
    font-family: Roboto , Arial;
    font-size: 16px;
    padding-left: 8px;
}
.upload{
    /* margin-top: 25px; */
    height: 25px;
}
.youtube-apps{
    height: 25px;
}
.notificatons{
    height: 25px;
}
.My-channel{
    height: 28px;
    width: 28px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 20px;
}
.search-button .search-tooltip{
    position: absolute;
    bottom: -40px;
    right: 0px;
    font-size: 12px;
    font-family: Roboto,arial;
    color: #fff;
    background-color: rgb(111, 111, 111);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
}
.search-button:hover .search-tooltip{
   opacity: 1;
   transition: 0.15s; 
}
.voice-search-button .voice-search-tooltip{
    position: absolute;
    bottom: -40px;
    right: -50px;
    font-size: 12px;
    font-family: Roboto,arial;
    color: #fff;
    background-color: rgb(111, 111, 111);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
}
.voice-search-button:hover .voice-search-tooltip{
    opacity: 1;
    transition: 0.15s;
}
.upload-button{
    cursor: pointer;
    position: relative;
}

.upload-tooltip{
    position: absolute;
    bottom: -40px;
    left: -15px;
    right: px;
    font-size: 12px;
    font-family: Roboto,arial;
    color: #fff;
    background-color: rgb(111, 111, 111);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    opacity: 0;
    transition: 0.15s;
    pointer-events: none;
}
 .upload-button:hover .upload-tooltip{
    opacity: 1;
    cursor: pointer;
 }

 .app-button{
    position: relative;
    cursor: pointer;
 }
 .apps-tooltip{
    position: absolute;
    bottom: -40px;
    left: -33px;
    right: px;
    font-size: 12px;
    font-family: Roboto,arial;
    color: #fff;
    background-color: rgb(111, 111, 111);
    padding-top: 10px;
    width: 80px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    opacity: 0;
    transition: 0.15s;
    pointer-events: none;
 }
 .app-button:hover .apps-tooltip{
    opacity: 1;
 }
 